:root {
    --white-color1: #FFF;
    --dark-color1: #0E1129;
    --dark-color2: rgba(0, 0, 0, 0.2);
    --gray-color1: #9FA1AA;
    --gray-color2: #444A69;
    --purple-color1: #5E47F5;
    --purple-color2: #BABCF5;
    --success-color1: #07C1FA;
    --green-color1: #1AA11A;
    --green-color2: #31AF31;
    --danger-color1: #E74738;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--white-color1);
}

body {
    background-color: var(--dark-color1);
    padding: 2rem;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}